@import "../../styles/variables.scss";

.itemContainer {
    display: flex;
    flex-direction: column;

    @include breakpoint(large) {
        flex-direction: row;
    }
}

.reversed {
    flex-direction: column;

    @include breakpoint(large) {
        flex-direction: row-reverse;
    }
}

.imageSectionContainer {
    align-items: center;
    display: flex;
    flex: 3;
    flex-direction: column;
    margin-bottom: $spacer-2;

    @include breakpoint(large) {
        flex-direction: row;
        display: block;
        margin-bottom: 0;
        margin-right: $spacer-2;
    }

    .reversed & {
        align-items: center;
        
        @include breakpoint(large) {
            margin-right: 0;
            margin-left: $spacer-2;
        }
    }
}

.imageContainer {
    overflow: hidden;
    position: relative;

    .reversed & {
        @include breakpoint(large) {
            margin-left: auto;
        }
    }
}

.textContainer {
    flex: 2;

    h4 {
        margin-bottom: 0;
        margin-top: $spacer-0;

        &:last-of-type {
            margin-bottom: $spacer-2;
        }
    }

    a {
        color: $black;
        cursor: pointer;
        opacity: 0.8;
    }
}

.premiereBanner {
    background: $yellow-70;
    color: $white;
    left: auto;
    letter-spacing: 0.5px;
    padding: 10px 0;
    position: absolute;
    right: -60px;
    text-align: center;
    top: 50px;
    transform: rotate(45deg);
    width: 250px;

    .reversed & {
        left: -60px;
        transform: rotate(-45deg);
    }
}

.captionContainer {
    background: rgba($black, 0.5);
    color: $grey-40;
    position: absolute;
    bottom: 0;
    padding: 5px 0;
    text-align: center;
    width: 100%;
}
