@import "../../styles/variables.scss";

@include portfolioSectionLayout;

.imageSectionContainer {
    display: block;
    flex: 3;
    max-width: 1000px;
}

.textContainer {
    flex: 2;

    h4 {
        margin-bottom: 0;
        margin-top: $spacer-0;

        &:last-of-type {
            margin-bottom: $spacer-2;
        }
    }

    a {
        color: $black;
        cursor: pointer;
        opacity: 0.8;
    }
}

.reversedImage {
    @include breakpoint(large) {
        margin-left: auto;
    }
}

.reversedBanner {
    left: -60px;
    transform: rotate(-45deg);
}
