{
    "extends": "prettier",
    "plugins": [
        "prettier"
    ],
    "parser": "babel-eslint",
    "rules": {
        "prettier/prettier": "error",
        "quotes": [
            "error",
            "double",
            { "avoidEscape": true, "allowTemplateLiterals": false }
        ]
    }
}