@import "../../styles/variables.module.scss";

.imageContainer {
    overflow: hidden;
    position: relative;
}

.banner {
    background: $yellow-80;
    color: $white;
    left: auto;
    letter-spacing: 0.5px;
    padding: 10px 0;
    position: absolute;
    right: -60px;
    text-align: center;
    top: 50px;
    transform: rotate(45deg);
    width: 250px;
}

.captionContainer {
    background: rgba($black, 0.5);
    color: $grey-40;
    position: absolute;
    bottom: 0;
    padding: 5px 0;
    text-align: center;
    width: 100%;
}

.blogImage {
    margin-bottom: $spacer-1;
    
    @include breakpoint(large) {
        margin: 0 $spacer-3 $spacer-1;
    }
}
