@import "../../styles/variables.scss";

.typistContainer {
    display: inline-block;
    margin-right: 8px;
}

.terminalContainer {
    background: $black;
    color: $green-80;
    font-family: $font-family-monospace;
}
