@import "../../styles/variables.module.scss";

.typistContainer {
    display: inline-block;
    margin-right: 8px;
}

.terminalContainer {
    background: $black;
    color: $green-80;
    font-family: $font-family-monospace;
    min-height: 250px;
    padding: $spacer-0;
}
