@import "../styles/variables.module.scss";

.container {
    padding: 0 $spacer-1;

    @include breakpoint(small) {
        padding: 0 $spacer-2;
    }

    @include breakpoint(extra-large) {
        padding: 0 $spacer-5;
    }
}
