@import "../styles/variables.scss";

.heroImageContainer {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $buried-z;
}

.heroImage {
    height: 100%;
    width: 100%;
}

.heroTextContainer {
    height: 100%;
    position: absolute;
    width: 100%;

    @include breakpoint(small) {
        height: 75%;
        left: auto;
        right: $spacer-responsive-1;
        text-align: center;
        top: $spacer-responsive-4;
        width: auto;
    }
}

.headerContainer {
    display: block;

    @include breakpoint(extra-small) {
        align-items: center;
        display: flex;
    }

    @include breakpoint(small) {
        display: block;
    }
}

.heroHeader {
    color: $purple-50;
    font-size: 6.5rem;
    margin-top: 0;
    padding-left: $spacer-responsive-1;

    @include breakpoint(extra-small) {
        font-size: 6rem;
        margin-bottom: 0;
    }

    @include breakpoint(small) {
        font-size: 8rem;
        padding-left: 0;
        margin-bottom: 1.6875rem;
        text-align: right;
    }

    @include breakpoint(medium) {
        font-size: 9rem;
        text-align: center;
    }

    @include breakpoint(extra-large) {
        font-size: 12rem;
    }
}

.heroSubheader {
    color: $purple-50;
    font-size: 1.8rem;
    margin-top: 0;
    margin-bottom: $spacer-3;
    padding-left: $spacer-responsive-1;

    @include breakpoint(extra-small) {
        font-size: 1.6rem;
        margin-bottom: 0;
    }

    @include breakpoint(small) {
        font-size: 2rem;
        padding-left: 0;
        margin-bottom: 8rem;
        text-align: right;
    }

    @include breakpoint(medium) {
        font-size: 3rem;
        text-align: center;
        margin-bottom: $spacer-3;
    }

    @include breakpoint(extra-large) {
        font-size: 5rem;
        margin-bottom: 6rem;
    }
}


.heroBody {
    background: rgba($purple-50, 0.7);
    bottom: 0;
    color: $grey-40;
    font-size: 1.2rem;
    margin-bottom: 0;
    padding: $spacer-responsive-1;
    position: absolute;
    text-align: center;
    width: 100%;

    @include breakpoint(small) {
        background: none;
        color: inherit;
        font-size: 1.6rem;
        padding: 0;
        position: static;
        text-align: right;
    }

    @include breakpoint(medium) {
        text-align: center;
    }

    @include breakpoint(extra-large) {
        font-size: 2rem;
    }
}
