@import "../styles/variables.scss";

.container {
    padding: 0 $spacer-2;

    h1, h2 {
        text-align: center;
    }

    h2 {
        margin-bottom: $spacer-3;
    }
}

.portfolioSection {
    margin-bottom: $spacer-3;
}
