@import "../styles/variables.scss";

.container {
    @include portfolioLayout;
}

.portfolioSection {
    border-bottom: 1px solid $purple-50;
    margin-bottom: $spacer-3;
    padding-bottom: $spacer-1;

    &:first-of-type {
        border-bottom: none;
    }

    &:last-child {
        border-bottom: 0;
        margin-bottom: 0;
    }
}
