@import "../styles/variables.module.scss";

.smallImage {
    display: block;

    @include breakpoint(small) {
        display: none;
    }
}

.largeImage {
    display: none;

    @include breakpoint(small) {
        display: block;
    }
}
